body, html {
  height: 100%;
}

.bg { 

  background-image: url("astronomy-dolomites-evening-1624496.jpg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ex1 {
	text-align: center;
	text-align: center; 
	position: absolute; 
	top: 50%; 
	bottom: 50%; 
	width: 100%;
	color: #00bfff;
	transition: all 3s;
}

.ex1:hover {
	transform:  scale(1.1);
}

.btn:hover {
	transform: scale(1.1);
}